@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-bg-color: rgb(44, 45, 45);
  --primary-color: rgb(241, 245, 245);
  --indicator-color: rgb(22, 138, 239);
  --mouse-color: rgb(157, 168, 42);
}

body {
  --xy: -150px -150px;
  background-color: var(--main-bg-color);
  height: 10000px;
  animation: background 2s;
}

body.mouse-press {
  background: radial-gradient(
      circle closest-side at var(--xy),
      var(--mouse-color) 15px,
      var(--main-bg-color) 15px
    )
    no-repeat;
  animation: background 2s;
}

.container {
  max-width: 1140px;
  padding: 0px 15px;
  margin: 30px auto 0 auto;
}

* {
  font-family: "Roboto", sans-serif;
}

.carousel {
  display: block;
  margin: 0 auto;
  width: 900px;
  position: relative;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}

.carousel-inner {
  width: 100%;
  height: 500px;
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
}

.carousel-slides {
  height: 100%;
  display: flex;
  transition: 1.2s cubic-bezier(0, 0.5, 0.8, 1);
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.carousel-outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

h1 {
  color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  width: 7px;
  height: 7px;
  margin-right: 6px;
  margin-left: 6px;
  cursor: pointer;
  border-radius: 100%;
  transition: opacity 0.6s ease;
  border: 2px solid var(--indicator-color);
  background-color: var(--indicator-color);
  position: relative;
}

.carousel-indicators li::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 25px;
  left: -8px;
  top: -9px;
}

.carousel-indicators .active {
  border: 2px solid var(--primary-color);
  background-color: transparent;
}

.carousel-indicators li:hover {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}

@media (max-width: 992px) {
  .container {
    max-width: 570px;
  }

  .carousel {
    width: 450px;
  }

  .carousel-inner {
    height: 250px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 430px;
  }

  .carousel {
    width: 330px;
  }

  .carousel-inner {
    height: 180px;
  }

  .carousel-outer {
    flex-direction: column-reverse;
    margin-bottom: 25px;
  }

  .carousel-indicators {
    padding-bottom: 20px;
  }

  h1 {
    align-self: start;
  }

  body.mouse-move {
    background: radial-gradient(
        circle closest-side at var(--xy),
        black 15px,
        var(--primary-color) 1px,
        var(--main-bg-color) 17px
      )
      no-repeat;
    animation: background 2s;
  }
}
